The Jenkins pipeline has encountered a failure during the merge attempt of the [[SOURCE]] branch into the [[TARGET]] branch. Immediate attention is required.

### Details:
- **Job Name**: [[JOB_NAME]]
- **Build Number**: [[BUILD_NUMBER]]
- **Timestamp**: [[DATETIME]]

### Pipeline Status: Unexpected error occurred. For more information please review the job build console outputs on the Jenkins server. 

End of Notification.
